:host {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5em;
    border-bottom: 1px solid #DADADA;
    cursor: pointer;
}

:host.selected {
    background-color: #EAEAEA;
}

:host:last-of-type {
    border-bottom: none;
}

:host > .favorite {
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    position: absolute;
}